spring-debug/src/main/resources/META-INF/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.jzhp.top/schema/test"
        xmlns:tns="http://www.jzhp.top/schema/test"
        elementFormDefault="qualified">
    <element name="test">
        <complexType>
            <attribute name="id" type="int" />
            <attribute name ="name" type="string"/>
        </complexType>
    </element>
</schema>